body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(rgb(42, 107, 192), rgb(8, 68, 146));
  min-width: 720px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}

.title {
  margin-top: 0px;
  font-size: 20px;
  color: #fff;
}

.container {
  text-align: center;
  height: 820px;
  overflow-y: hidden;
}

.star-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal-title {
  min-width: 680px;
  position: absolute;
  top: 100px;
  color: #ffffff;
  font-size: 80px;
}

.start {
  width: 200px;
  height: 100px;
  font-size: 30px;
  border-radius: 30px;
  border: 10px solid rgb(182, 155, 0);
  color: rgb(145, 123, 1);
  background-color: rgb(255, 215, 0);
  cursor: pointer;
}

.start:hover {
  background-color: rgb(255, 225, 53);
}

#card {
  font-size: 25px;
  width: 90px;
  height: 140px;
  border: 2px solid #000;
  background-color: #fff;
  text-align: start;
  padding-left: 2px;
}

.place-croupier {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  padding: 20px;
  border-radius: 50px;
}

#face-down-card {
  font-size: 25px;
  width: 90px;
  height: 140px;
  border: 2px solid #000;
  background: url(images/card.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: start;
}

.card-1-croupier {
  position: absolute;
}

.card-2-croupier,
.face-down-card-croupier {
  position: absolute;
  margin: 15px 0px 0px 35px;
}

.card-3-croupier {
  position: absolute;
  margin: 30px 0px 0px 70px;
}

.card-4-croupier {
  position: absolute;
  margin: 45px 0px 0px 105px;
}

.card-5-croupier {
  position: absolute;
  margin: 60px 0px 0px 140px;
}

.card-6-croupier {
  position: absolute;
  margin: 75px 0px 0px 175px;
}

.card-7-croupier {
  position: absolute;
  margin: 90px 0px 0px 210px;
}

.div-total-croupier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 3px;
  position: absolute;
  bottom: -12px;
  background-color: #fff;
}

.place-player-split {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border-radius: 50px;
}

.place-player {
  width: 200px;
  height: 200px;
  margin: 150px auto 0px auto;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  border-radius: 50px;
}

.card-1-player {
  position: absolute;
}

.card-2-player {
  position: absolute;
  margin: 15px 0px 0px 35px;
}

.card-3-player {
  position: absolute;
  margin: 30px 0px 0px 70px;
}

.card-4-player {
  position: absolute;
  margin: 45px 0px 0px 105px;
}

.card-5-player {
  position: absolute;
  margin: 60px 0px 0px 140px;
}

.card-6-player {
  position: absolute;
  margin: 75px 0px 0px 175px;
}

.card-7-player {
  position: absolute;
  margin: 90px 0px 0px 210px;
}

.card-8-player {
  position: absolute;
  margin: 105px 0px 0px 245px;
}

.card-9-player {
  position: absolute;
  margin: 120px 0px 0px 275px;
}

.div-total-player,
.div-total-player-split,
.div-total-player2-split {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 3px;
  position: absolute;
  background-color: #fff;
}

.div-total-player {
  bottom: -12px;
}

.div-total-player-split,
.div-total-player2-split {
  bottom: -22px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.div-buttons {
  margin-left: 150px;
}

#hit {
  width: 90px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(0, 255, 0, 0.795);
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.input-hit-hidden {
  visibility: hidden;
}

.input-hit {
  visibility: visible;
}

.input-hit-2-hidden {
  visibility: hidden;
  margin-left: 300px;
}

.input-hit-2 {
  visibility: visible;
  margin-left: 300px;
}

#stand {
  width: 90px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.774);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.input-stand-hidden {
  visibility: hidden;
}

.input-stand {
  visibility: visible;
}

.input-stand-2-hidden {
  visibility: hidden;
}

.input-stand-2 {
  visibility: visible;
}

.input-split {
  width: 90px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(0, 183, 255, 0.836);
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  visibility: visible;
}

.input-split-hidden {
  width: 90px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(0, 183, 255, 0.836);
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  visibility: hidden;
}

.winner-background-div {
  box-sizing: border-box;
  min-width: 720px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.div-winner {
  min-width: 400px;
  height: 130px;
  background-color: #fff;
  text-align: center;
  margin: 350px auto 350px auto;
  border-radius: 2px;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
}

.form {
  width: 30%;
  cursor: pointer;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 5px;
}

.form:hover {
  background-color: rgb(223, 223, 223);
}

h2 {
  font-size: 25px;
}

.div-player-and-player2 {
  margin: 190px auto 0px auto;
  width: 700px;
  height: 250px;
  position: relative;
}

.place-player2 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  padding: 10px;
  border-radius: 50px;
}
